body {
  background-image: url('https://images.pexels.com/photos/9313838/pexels-photo-9313838.jpeg');
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  text-align: center;
}

p {
  font-family: 'Mulish';
  color: rgb(0, 116, 116);
  font-size: 70px;
  max-width: 100%;
  word-wrap: break-word;
  transition: all 0.2s ease-in-out;
  text-shadow: 6px 6px 6px rgba(0, 116, 116, 0.5);
}

p:hover {
  transform: scale(1.2);
  animation-name: zoom;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

@keyframes shadow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 900px) {
  p {
    font-size: 50px;
  }
}

@media screen and (max-height: 770px) {
  p {
    font-size: 50px;
  }
}